<div class='menu'>
    <p style="color: white; text-align: center; font-size: 30px;">{{titulo}}</p>
    <ul style="list-style-type: none;">
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/leao']">Leão</a></li><br>
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/escorpiao']">Escorpião</a></li><br>
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/gemeos']">Gêmeos</a></li><br>
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/aries']">Áries</a></li><br>
        <li routerLinkActive="active"><a style="text-decoration: none;" [routerLink]="['/cancer']">Câncer</a></li>
    </ul>

</div>
