<div class="centralizar">
        <h1>Horóscopo de Escorpião:</h1>
        <br><br>
        <div class="conteudo-left">
            <h3>Horóscopo do dia:</h3>
            <p>
                Às vezes, um pouquinho de otimismo é o que faz a diferença entre um dia legal e um dia meio sem-graça. 
                Então aproveite o dia alegre de hoje pra curtir seus amigos ou quem sabe tentar algo diferente, 
                aprender algo novo!
            </p>
        </div>
        <div class="conteudo-right">
            <h3>Horóscopo do ano:</h3>
            <p>
                    2019 é um ano de introspecção e preparação para a heroína que surgirá mais pra frente.
Seu planeta regente, Plutão, continuará passando por Capricórnio junto com Saturno, favorecendo a disciplina e paciência para você focar e realizar aqueles planos mais audaciosos e de longo prazo. Tipo juntar dinheiro para viajar, ou continuar nos seus treinos para competir em algum esporte. Portanto, não se preocupe em ser a melhor ou a mais diferente, foque apenas em dar o seu melhor no presente, que o amanhã será glorioso. (2020 será muito louco nesse sentido, só para adiantar).
Netuno em Peixes continua mandando as bençãos, afinando a sua intuição e mandando os recados astrais através das "coincidências" e sonhos. Ele te mostra que sempre existe uma solução e uma luz no fim do túnel, oferencendo aquela ajuda que vem do nada. Yoga, meditação e estudos que te ajudam a se conectar com a sua intuição potencializam mais ainda esse efeito. 
 
            </p>
        </div>
        
    </div>
    