<div class="centralizar">
        <h1>Horóscopo de Áries:</h1>
        <br><br>
        <div class="conteudo-left">
            <h3>Horóscopo do dia:</h3>
            <p>
                Hoje talvez seja um dia mais legal pra você pensar na viagem de fim de ano, ou qualquer viagem que você queira fazer um dia. Se decidir estudar, talvez fique um pouco confusa, se perca no meio da matéria… melhor fazer algo mais leve, sabe?
            </p>
        </div>
        <div class="conteudo-right">
            <h3>Horóscopo do ano:</h3>
            <p>
                    A ralação de 2018 continua em 2019, mas as arianas contam agora com a ajuda de duas forças: Júpiter em Sagitário e a regência de Marte para o ano de 2019. Será um ano abastecido de muita sorte e energia para vivenciar novas experiências, viajar, e se dar super bem na vida! Saiba que em 2019 tudo poderá acontecer, em todas as áreas da sua vida! É também um ano em que você começará a colher os frutos dos esforços de 2018. Você crescerá e amadurecerá muito ainda em 2019, por isso, aprenda a ser mais suave consigo mesma e a aplicar a sua força de forma mais gentil. Você se transformará em uma guerreira mais independente depois das fortes mudanças que rolarão entre dezembro de 2019 e o primeiro trimestre de 2020. Sim, 2019 é a última rodada de flexões para entrar em 2020 como uma nova pessoa.                   
            </p>
        </div>
        
    </div>
    