<div class="centralizar">
        <h1>Horóscopo de Câncer:</h1>
        <br><br>
        <div class="conteudo-left">
            <h3>Horóscopo do dia:</h3>
            <p>
                    Falar as coisas e esquecer logo em seguida definitivamente não é com você. Você sabe que alguns amigos seus são mais energéticos e às vezes falam umas coisas sem pensar, que podem chatear a gente. Mas procure não levar tão a ferro e fogo o que te disserem hoje, tá bom?
            </p>
        </div>
        <div class="conteudo-right">
            <h3>Horóscopo do ano:</h3>
            <p>
                    O ano começa de forma intensa para a canceriana, com muita dúvida e questionamento em relação a sua capacidade e talvez até um pouco de dificuldade na hora de escolher as coisas, e de se organizar. Em fevereiro isso tende a diminuir, mas 2019 é uma continuação de 2018: uma ralação. A diferença é que você já se tornou mais responsável e ligeira, e por isso, isso nem irá te abalar. Pelo contrário, você sacou que tudo isso te fortalece!
                    No fim de 2019 você passará por grandes mudanças que te direcionarão para o seu caminho, ou seja, na hora assusta, mas no fim você estará vivendo algo que é mais a sua cara.  
                    Continue agindo com energia total, canceriana. A coragem e a força serão suas melhores amigas em 2019.                    
            </p>
        </div>
        
    </div>
    