<div class="centralizar">
        <h1>Horóscopo de Leão:</h1>
        <br><br>
        <div class="conteudo-left">
            <h3>Horóscopo do dia:</h3>
            <p>
                    Hoje pode, rolar altas confusões com o crush ou o mozão. Você combinou uma coisa e entenderam outra, o encontro não deu certo, surgiu um problema… mas não fica chateada. Com certeza haverá outras oportunidades para curtir <3 
            </p>
        </div>
        <div class="conteudo-right">
            <h3>Horóscopo do ano:</h3>
            <p>
                    Em 2018 você foi descobrindo novos gostos, quis explorar novos assuntos, e algumas leoninas até renovaram as amizades por conta disso, pois tem gente que não consegue acompanhar toda essa revelação repentina. Em 2019 esse movimento de meio rebelde continua, ok? Você ainda irá eliminar muitas camadas que encobertam o brilho que existe em você. 

Em 2019 você poderá contar com o grande auxílio de Júpiter em Sagitário, que permanecerá por lá até o início de dezembro de 2019. A vida fica com mais cara de festa, descobertas e maravilhas. É um ano que trará novos pontos de vista, seja através dos livros e filmes, ou pelas viagens! Se puder viajar ou fazer alguma trip diferente, vá! Se te convidarem para algo que você normalmente não curte, mas na hora você sentir uma curiosidade ou uma vontade de ir, vá! Simples assim!

            </p>
        </div>
        
    </div>
    