<div class="centralizar">
    <h1>Horóscopo de Gêmeos:</h1>
    <br><br>
    <div class="conteudo-left">
        <h3>Horóscopo do dia:</h3>
        <p>
            A dica de hoje é ter um pouquinho de cuidado quando for conversar hoje. 
            A Lua segue em Sagitário, 
            e é capaz de você soltar um #sincerão. 
            E ainda por cima sem a intenção! Então mesmo se você estiver naquela empolgação, 
            se for dar uma opinião, dá uma pensadinha antes de falar, tá bem? Então tá bem.
        </p>
    </div>
    <div class="conteudo-right">
        <h3>Horóscopo do ano:</h3>
        <p>
                Neste ano você descobrirá o "antídoto do tédio". 
                Não, não será um ano em que você fará uma coisa diferente atrás da outra. 
                Pelo contrário, você verá que o foco em um assunto pode ser muito interessante.  
                Com Júpiter em Sagitário a vida te convida - ou te obriga - a colocar as suas ideias e conhecimento em prática. 
                É um ano onde você aprenderá a se organizar de verdade. 
                Você se questionará em muitos momentos, às vezes achando que você não é capaz, 
                ou se cansando de ter que se aprofundar em assuntos que você não está tão afim de estudar. 
                Haverão fases em que você sentirá uma dificuldade para saber o que fazer e por onde começar, 
                mesmo com muitas ideias em sua mente. 
                É que em 2019 você terá que aprender a usar a sua intuição e se guiar pelo que você sente, 
                não só o que você pensa.  
        </p>
    </div>
    
</div>
